<div class="common-list">
  <div class="header">
    <h2>Customer List</h2>
    <button class="btn-add" (click)="addPage()"><i class="fa fa-plus"></i> Add</button>
  </div>

  <app-table
    [columns]="columns"
    [data]="paginatedCustomers"
    [currentPage]="page"
    [pageSize]="itemsPerPage"
    (edit)="editCustomer($event)"
    (delete)="deleteCustomer($event)"
    class="common-action"
  ></app-table>

  <app-pagination
    [totalItems]="customers.length"
    [pageSize]="itemsPerPage"
    [pageSizeOptions]="[5, 10, 20, 50]"
    [currentPage]="page"
    (pageChange)="onPageChanged($event)"
    (pageSizeChange)="onPageSizeChanged($event)"
  ></app-pagination>
</div>
