<div class="common-list">
  <div class="header">
    <h2>Terms & Conditions List</h2>
    <button class="btn-add" [routerLink]="['/terms&conditions/create']"><i class="fa fa-plus"></i> Add</button>
  </div>

  <app-table
    [columns]="columns"
    [data]="paginatedTerms"
    [currentPage]="page"
    [pageSize]="itemsPerPage"
    (edit)="editTerm($event)"
    (delete)="deleteTerm($event)"
  >
  </app-table>

  <!-- Common Pagination -->
  <app-pagination
    [totalItems]="terms.length"
    [pageSize]="itemsPerPage"
    [pageSizeOptions]="[5, 10, 20, 50]"
    [currentPage]="page"
    (pageChange)="onPageChanged($event)"
    (pageSizeChange)="onPageSizeChanged($event)"
  >
  </app-pagination>
</div>
