<div class="invoice-container">
  <h2>Create Terms & Conditions</h2>

  <form [formGroup]="termsForm">
    <div class="invoice-info">
      <div class="input-container">
        <label>Terms & Conditions<sup>*</sup></label>
        <input type="text" formControlName="terms" placeholder="Enter terms and conditions" [ngClass]="{'invalid-input':termsForm.controls['terms'].invalid && submitted}" />
        <div class="error-msg" *ngIf="submitted && termsForm.controls['terms'].invalid">
          Terms & Conditions are required.
        </div>
      </div>
    </div>

    <div class="form-actions">
      <button type="button" class="save-btn" (click)="onSubmit()">
        <i class="fas fa-save"></i>Save
      </button>
      <button type="button" class="cancel-btn" [routerLink]="['/terms&conditions']">
        <i class="fas fa-times"></i>Cancel
      </button>
    </div>
  </form>
</div>
