<div class="invoice-container">
  <h2>Create Customer</h2>

  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div class="invoice-info">
      <!-- Name -->
      <div class="input-container">
        <label>Name<sup>*</sup></label>
        <input type="text" placeholder="Enter full name" formControlName="name" [ngClass]="{'invalid-input':customerForm.controls['name'].invalid && submitted}"/>
        <div class="error-msg" *ngIf="submitted && customerForm.get('name')?.errors">
          Name is required.
        </div>
      </div>

      <!-- Company -->
      <div class="input-container">
        <label>Company Name</label>
        <input type="text" placeholder="Enter company name" formControlName="company_name" />
      </div>

      <!-- Address -->
      <div class="input-container">
        <label>Address</label>
        <input type="text" placeholder="Enter address" formControlName="address" />
      </div>

      <!-- City -->
      <div class="input-container">
        <label>City</label>
        <input type="text" placeholder="Enter city" formControlName="city" />
      </div>

      <!-- State -->
      <div class="input-container">
        <label>State</label>
        <input type="text" placeholder="Enter state" formControlName="state" />
      </div>

      <!-- Zip -->
      <div class="input-container">
        <label>Zip Code</label>
        <input type="text" placeholder="Enter zip code" formControlName="zip_code" />
      </div>

      <!-- Email -->
      <div class="input-container">
        <label>Email<sup>*</sup></label>
        <input type="email" placeholder="Enter email address" formControlName="email" [ngClass]="{'invalid-input':customerForm.controls['email'].invalid && submitted}"/>
        <div class="error-msg" *ngIf="submitted && customerForm.get('email')?.errors?.['required']">
          Email is required.
        </div>
        <div class="error-msg" *ngIf="submitted && customerForm.get('email')?.errors?.['email']">
          Please enter a valid email.
        </div>
      </div>

      <!-- Phone -->
      <div class="input-container">
        <label>Phone<sup>*</sup></label>
        <input
          type="text"
          appOnlyNumbers
          placeholder="Enter phone number"
          formControlName="phone"
          [ngClass]="{'invalid-input':customerForm.controls['phone'].invalid && submitted}"
        />
        <div class="error-msg" *ngIf="submitted && customerForm.get('phone')?.errors">
          Phone number is required.
        </div>
      </div>

      <!-- Type -->
      <div class="input-container">
        <label>Type<sup>*</sup></label>
        <select formControlName="type" [ngClass]="{'invalid-input':customerForm.controls['type'].invalid && submitted}">
          <option value="">Select type</option>
          <option *ngFor="let type of customerTypes" [value]="type">
            {{ type == 'BILL_FROM' ? 'Bill from' : 'Bill to' }}
          </option>
        </select>
        <div class="error-msg" *ngIf="submitted && customerForm.get('type')?.errors">
          Customer type is required.
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="button-group">
      <button type="submit" class="save-btn"><i class="fas fa-save"></i> Save Customer</button>
      <button type="button" class="cancel-btn" [routerLink]="['/customers']">
        <i class="fas fa-times"></i> Cancel
      </button>
    </div>
  </form>
</div>
