<div class="layout">
  <main class="main-content">
    <div class="container">
      <div class="flex space-between" style="flex-wrap: wrap; gap: 1rem">
        <div class="card" style="flex: 1; min-width: 220px">
          <h4>Total Invoices <i class="fas fa-file-invoice-dollar" style="color: #1976d2"></i></h4>
          <h2>{{ totalInvoice }}</h2>
        </div>
        <div class="card" style="flex: 1; min-width: 220px">
          <h4>Pending Payments <i class="fas fa-hourglass-half" style="color: #f57c00"></i></h4>
          <h2>₹{{pendingPeyments}}</h2>
        </div>
        <div class="card" style="flex: 1; min-width: 220px">
          <h4>Paid Invoices <i class="fas fa-money-bill-wave" style="color: #2e7d32"></i></h4>
          <h2>₹{{paidPeyments}}</h2>
        </div>
        <div class="card" style="flex: 1; min-width: 220px">
          <h4>Overdue <i class="fas fa-exclamation-triangle" style="color: #c62828"></i></h4>
          <h2>₹{{overduePeyments}}</h2>
        </div>
      </div>

      <div class="tables-sec">
        <!-- Invoice Table -->
        <div class="card common-list">
          <div class="header">
            <h2>Recent Invoices</h2>
            <button class="btn-add" [routerLink]="['/invoices']">View All</button>
          </div>
          <app-table [columns]="columns" [data]="invoicesData" (view)="viewPage($event)"> </app-table>
        </div>
        <div class="card common-list">
          <div class="card chart-section">
            <div class="header">
              <h2>Monthly Invoice Summary</h2>
            </div>
            <canvas id="invoiceChart" width="600" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
